.event-page {
  padding: 20px;
  background-color: #15181B;
}

.event-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-image{
  width: 568px;
  height: 630px;
}

.event-card {
  margin: 1rem;
}


.event-page .explore-section {
  margin-top: 20px;
}

.event-page .artist-lineup img {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.event-page .qr-code {
  margin-top: 20px;
}
